{% extends "blog/base.html" %} <!--Inherits template from base.html in the blog application.-->
{% load crispy_forms_tags %}
{% block content %} <!--Defines this block of content.-->
    
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> <!--Displays the current user's profile picture.-->
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2> <!--Displays the current user's username.-->
                <p class="text-secondary">{{ user.email }}</p> <!--Displays the current user's email address.-->
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data"> <!--Creates new form-->
            {% csrf_token %} <!--Adds cross site request forgery token to protect our form against certain attacks. This form is required by Django. Seriously, the form will NOT work without this.-->
            <fieldset class="form-group"> <!--Used to group related elements in a form.-->
                <legend class="border-bottom mb-4">Profile Info</legend> <!--Adds a legend for our form. This adds detail to the form using bootstrap classes.-->
                {{ u_form|crispy }} <!--Creates a dictionary to access to the u_form variable that was passed in users/views.py and prints out the form.-->
                {{ p_form|crispy }} <!--Creates a dictionary to access to the p_form variable that was passed in users/views.py and prints out the form.-->
            </fieldset>
            <div class="form-group"> <!--Divides the submit button from the rest of the form for formatting.-->
                <button class="btn btn-outline-info" type="submit">Update</button> <!--Creates the submit button.-->
            </div>
        </form> <!--Creates a login redirect button for existing users.-->
    </div>
{% endblock content %} <!--Ends this content block.-->